<table class="GameOfLife"> 
    <% @game.rows.each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td class="<%= cell.alive ? 'alive' : '' %>">
        </td>
      <% end %>
    </tr>
    <% end %>
</table>